@charset "utf-8";
/* CSS Document */

#main
{
	/*border: 2px solid #0D51F0;*/
	height: 815px;
	width:1090px;
	margin:auto;
	margin:3px;
	margin-top:15px;
}

#panel
{
	/*border: 2px solid #0D51F0;*/
	background-color:#1A1A1A;
	height: 80px;
	width:1080px;
	margin:auto;
	margin:3px;
}

#panelLeft
{
	border-right: 2px solid #0D51F0;
	float:left;
	height: 80px;
	width:250px;
	margin:auto;
	
}

#panelRight
{
	/*border: 2px solid #0D51F0;*/
	float:right;
	height: 70px;
	width:810px;
	margin:auto;
	margin:3px;
}

#leftSide
{
	border: 2px solid #0D51F0;
	float:left;
	background-color:grey;
	height: 720px;
	width:250px;
	margin:auto;
	margin:3px;
}

h2
{
	font-size:30px;
	text-align:center;
	line-height:70px;
	color:white;
}

#rigtSide
{
	border: 2px solid #0D51F0;
	float:right;
	height: 720px;
	width:820px;
	margin:auto;
	margin:3px;
}
#insert
{
	border: 2px solid #0D51F0;
	height: 500px;
	width:500px;
	margin:auto;
	margin-top:30px;
	
}

#welcom
{
	border:2px solid red;
	background-color:grey;
	height:50px;
	width:400px;
	margin:auto;
	margin-top:15px;
	box-shadow: 5px 5px 2px #450304;
	text-align:center;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	line-height:50px;
	font-size:30px;
}

p.year{
    position:absolute;
	top:365px;
	right:500px;
	
    
   
}
p.pass
{
	
    position:absolute;
	top:420px;
	right:500px;
	
}
p.a
{
	position: absolute;
	top: 470px;
	right: 500px;
	
}

p.aa
{
	position: absolute;
	top: 530px;
	right: 500px;
	
}

p.submt
{
	position:absolute;
	top:600px;
	right:500px;
	background-color:#470293;
	text-align:center;
}


#admin
{
	border: 1px solid #0D51F0;
	height: 90px;
	width:240px;
	margin:auto;
	margin:3px;
}
#Notice
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}
#Result
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}
#manaPro
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}
#TeachProf
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}
#StufProf
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}
#pastStu
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}
#PreStu
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}
#Picture
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}
#Vedio
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}


#logOut
{
	border: 1px solid #0D51F0;
	background-color:black;
	height: 50px;
	width:240px;
	margin:auto;
	margin:3px;
	margin-top:10px;
	box-shadow: 5px 5px 2px #450304;
}

h3
{
	font-style:normal;
	font-size:20px;
	font-family:siyam rupali;
	text-align:center;
	line-height:50px;
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
